.layout-box {
    padding: 1rem;
    margin: 0 0.25rem;
    border: 1px solid #000;

    &__message {
        ~ [data-rbd-placeholder-context-id] {
            display: none !important;
        }
    }
}